@mixin screen($size) {
  $desktop: '(min-width: 1024px)';
  $tablet: '(min-width: 768px) and (max-width: 1023px)';
  $mobile: '(max-width: 767px)';
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}


.container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  width: 27.5%;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 15px;
  color: #4f4f4f;
  font-size: 0.875rem;

  @include screen('mobile') {
    top: inherit;
    right: inherit;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
  }

  button {
    display: inline-block;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    cursor: pointer;

    &:first-child {
      margin-right: 0.5rem;
    }

    &.active {
      border-bottom: 2px solid #3388ff;
    }

    img {
      width: 20px;
    }
  }
}

.form-control {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  label {
    font-weight: bold;
  }

  input {
    border: none;
  }
}

select {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}
