.container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1001;
  width: 27.5%;
  padding: 1rem;
  margin: 1rem;
  background-color: #fff;
  border-radius: 15px;
  color: #4f4f4f;
  font-size: 0.875rem;

  button {
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
    display: inline-block;
    cursor: pointer;
    border-bottom: 2px solid #ffffff;

    &:first-child {
      margin-right: 0.5rem;
    }

    &.active {
      border-bottom: 2px solid #3388ff;
    }

    img {
      width: 20px;
    }
  }
}

.form-control {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  label {
    font-weight: bold;
  }

  input {
    border: none;
  }
}

select {
  width: 100%;
  display: inline-block;
  font-size: 1rem;
}
